set NERDTree
set visualbell
Plug 'terryma/vim-multiple-cursors'

# Idea
nmap s <Action>(Back)
nmap S <Action>(Forward)
nmap gd <Action>(GotoDeclaration)
nmap gD <Action>(GotoImplementation)
nmap <tab> <Action>(NextTab)
nmap <a-tab> <Action>(PreviousTab)
nmap xx <Action>(CloseAllEditorsButActive)
nmap zz <Action>(CloseEditor)
# NerdTree
nmap nn <Esc> :NERDTreeFind<cr>
nmap mm <Esc> :NERDTreeFocus<cr>
